html,
body {
    margin: 0;
    padding: 0;
}

h1 {
  text-align: center;
  font-size: 120px;
}

h2 {
    padding-left: 2%;
    font-size: 80px;
}

.col {
    float: left;
    padding: 2%;
    width: 29%;
/*    margin: 0px;*/
    text-align: center;
    font-size: 30px;
}

.col img {
    width: 100%;
}

section {
    overflow: auto;
}
/*

.col:hover+ {
    box-shadow: 10px 10px 5px grey;
}
*/

@media screen and (max-width:400px) {
    [class*="col"] {
        width: 100%;
    }
}