html, body {
    margin: 0;
    padding: 0;
}

h1 {
  font-family: 'IM Fell English SC', serif;
  text-align: center;
  font-size: 600%;
}

h2 {
    font-family: 'Mirza', cursive;
    padding-left: 2%;
    border-top: 2px;
    border-bottom: 2px;
    font-size: 400%;
}


.col {
    float: left;
    padding: 3px;
    width: 30%;
    align: center;
    margin: 30px;
    text-align: center;
    font-size: 250%;
}

.col img {
    width: 100%;
}

section {
    overflow: auto;
}

@media screen and (max-width:400px) {
    .col {
        width: 100%;
    }
}